html{
}

body{
	font-family: 'Roboto', sans-serif;
	color:gray;
	font-size: 5em;
	position: absolute;
}

.drake{
	background-image: url("../images/cheesecake.png");
	background-size: 100%;
	
}

.li{
	
}

.text{
	margin-left: 2em;
}