.header{
	font-family: 'Noto Sans', sans-serif;
	margin-left: 20px;
	color:blue;
}

.navigation{
	font-family: 'Noto Sans', sans-serif;
	overflow: ;
	float: right;
}

.container{
	background-color: pink;
	overflow: auto;
	padding: 20px;
}

.column{
	height: 400px;	
	float: left;
	background: teal;
}

	.one{
		width: 20%;
		margin-right: 5%;
		
	}

	.two{
		width: 20%;
		margin-right: 5%;
	}

	.three{
		width:20%;
		margin-right: 5%;
	}

	.four{
		width:20%;
		margin-right: 5%;
	}

.column{
	height: 400px;	
	float: left;
	background: teal;
}

	.one{
		width: 20%;
		margin-right: 5%;
		
	}

	.two{
		width: 20%;
		margin-right: 5%;
	}

	.three{
		width:20%;
		margin-right: 5%;
	}

	.four{
		width:20%;
		margin-right: 5%;
	}