body{
	margin-left: 0.9vw;
}


.stroke{
	width: 8vw;
	height: 98vh;
	background: tomato;
	opacity: ;
	border-radius: 500px;
	position: absolute;

  animation-name: stretch;
  animation-duration: 3s; 
  animation-timing-function: ease-in-out; 
  animation-delay: 0;
  animation-direction: alternate;
  animation-iteration-count: infinite;
  animation-fill-mode: none;
  animation-play-state: running;

}

.stroketwo{
	width: 8vw;
	height: 98vh;
	background: tomato;
	opacity: ;
	border-radius: 500px;
	position: absolute;
	transform: translateX(10vw);
  
  animation-name: stretch;
  animation-duration: 3s; 
  animation-timing-function: ease-in-out; 
  animation-delay: 0;
  animation-direction: alternate;
  animation-iteration-count: infinite;
  animation-fill-mode: none;
  animation-play-state: running;
}

@keyframes stretch {
  0% {
    transform: translateY(800px);
    background-color: blue;
  }
  50% {
    background-color: violet;
  }
  100% {
    transform: ;
    background-color: tomato;
  }
}

.horizontalhigh{
	width: 18vw;
	height: 15vh;
	background: tomato;
	opacity: ;
	border-radius: 500px;
	position: absolute;
  
  animation-name: stretchhorizontal;
  animation-duration: 3s; 
  animation-timing-function: ease-in-out; 
  animation-delay: 0;
  animation-direction: alternate;
  animation-iteration-count: infinite;
  animation-fill-mode: none;
  animation-play-state: running;

}



.horizontalmid{
	width: 18vw;
	height: 15vh;
	background: tomato;
	opacity: ;
	border-radius: 500px;
	transform: translateY(40vh);
	position: absolute;

  animation-name: stretchhorizontal;
  animation-duration: 3s; 
  animation-timing-function: ease-in-out; 
  animation-delay: 0;
  animation-direction: alternate;
  animation-iteration-count: infinite;
  animation-fill-mode: none;
  animation-play-state: running;
}

.horizontallow{
	display: inline-block;
	width: 18vw;
	height: 15vh;
	background: tomato;
	opacity: ;
	border-radius: 500px;
	transform: translateY(83vh);
	position: absolute;

animation-name: stretchhorizontal;
  animation-duration: 3s; 
  animation-timing-function: ease-in-out; 
  animation-delay: 0;
  animation-direction: alternate;
  animation-iteration-count: infinite;
  animation-fill-mode: none;
  animation-play-state: running;
}

@keyframes stretchhorizontal {
  0% {
    transform: translateX(1500px);
    background-color: blue;
  }
  50% {
    background-color: violet;
  }
  100% {
    transform: ;
    background-color: tomato;
  }
}

.H{
	display: inline-block;
	position: absolute;
}

.E{
	display: inline-block;
	position: absolute;
	transform: translateX(20vw);
}	

.L{
	display: inline-block;
	position: absolute;
	transform: translateX(40vw);
}

.L2{
	display: inline-block;
	position: absolute;
	transform: translateX(60vw);
}

.O{
	display: inline-block;
	position: absolute;
	transform: translateX(80vw);
}