html{
font-family: 'Noto Sans', sans-serif;
font-size: 1vw;
letter-spacing: .01vw;
}

body{
background-image: url("../images/pic1.jpg");
background-position: 10% 10%;
background-repeat: no-repeat;
background-attachment: fixed;
background-size: 30%;

}

.header{
margin-left: 35%;
}

h1{
font-weight: bold;
font-size: 3vw;
letter-spacing: 0.03vw;
padding: 0px;
}

.information{
line-height: 120%;
}

.container{
margin-left: 35%;
margin-right: 25%;
}

.categories{
margin-top: 4vw;
letter-spacing: 0.1vw;
/*color:red;*/
font-size: 0.8vw;
}

.name{
}

.text{
font-size:0.7vw;
color:gray;
padding-left: 0.25vw;
}

.description{
font-size:0.7vw;
margin-bottom: 3vw;
}
